body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    margin: 0;
    background-color: rgb(98, 94, 94);
}

.box {
    background-color: black;
    border: 10px solid blue;
    border-radius: 10px;
    height: 550px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
}



input {
    padding: 5px;
    width: 96%;
    border: 2px solid black;
    height: 40px;
    border: 10px solid gray;
    border-radius: 2px;
    margin: 0;
    font-size: x-large;
    text-align: right;
}
#num:hover {
    opacity: 70%;
}

button:hover {
    opacity: 70%;
}

button{
    width: 33.3%;
    height: 14.6%;
    font-size: x-large;
    background-color: gainsboro;
}

#num{
    background-color: goldenrod;
}

#AC{
    background-color: bisque;
}

.back{
    background-color: blueviolet;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(12, 12, 78);
    height: 50px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    color: rgb(106, 106, 242);
    margin: 10px;
}

a:hover {
    color: aqua;
}

@media (width < 1000px) {
    .box{
        width: 100vh;
        height: 80vh;
    }

    button {
        height: 14%;
    }

    footer {
        height: 300px;
        font-size: 50px;
    }

    input {
        height: 14%;
        font-size: 50px;
    }
    
}
