body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    margin: 0;
}

.box {
    background-color: black;
    border: 10px solid blue;
    border-radius: 10px;
    height: 70%;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
}



input {
    padding: 5px;
    width: 96%;
    border: 2px solid black;
    height: 40px;
    border: 10px solid gray;
    border-radius: 2px;
    margin: 0;
    font-size: x-large;
    text-align: right;
}
#num:hover {
    opacity: 70%;
}

button:hover {
    opacity: 70%;
}

button{
    width: 33.3%;
    height: 14.6%;
    font-size: x-large;
    background-color: gainsboro;
}

#num{
    background-color: goldenrod;
}

#AC{
    background-color: bisque;
}

.back{
    background-color: blueviolet;
}
