*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    margin: 0;
    background-color: rgb(98, 94, 94);
}

.box {
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    height: 590px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding: 7px;
}



input {
    padding: 5px;
    width: 100%;
    border: 2px solid black;
    height: 60px;
    border: 5px solid rgb(20, 4, 4);
    border-radius: 2px;
    margin: 0;
    font-size: x-large;
    text-align: right;
}

#num:hover {
    opacity: 70%;
}

button:hover {
    opacity: 70%;
}

button:active {
    box-shadow: none;
}

button{
    width: 30%;
    height: 70px;
    font-size: x-large;
    background-color: gainsboro;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid gray;
    box-shadow: 9px 9px 7px rgb(53, 52, 52);
    color: antiquewhite;
    background-color: rgb(163, 151, 151);
}

#num{
    background-color: rgb(62, 59, 59);
    color: antiquewhite;
}

#AC{
    background-color: rgb(31, 29, 29);
    color: antiquewhite;
}

.back{
    background-color: darkslategrey;
    color: antiquewhite;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(12, 12, 78);
    height: 50px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    color: rgb(106, 106, 242);
    margin: 10px;
}

a:hover {
    color: aqua;
}

@media (width < 1000px) {

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        align-items: start;
        height: 100vh;
        width: 100vw;
        justify-content: center;
    }

    .box{
        width: 100%;
        height: 80%;
        margin-top: 10px;
        border: 2% solid blue;
    }

    footer {
        width: 100%;
        height: 13%;
        font-size: 55px;
        position: static;
        margin-top: 5%
    }

    button {
        height: 13.2%;
        font-size: 50px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        height: 11%;
        width: 100%;
        font-size: 50px;
        text-wrap: wrap;
        line-break: anywhere;
    }

    button:hover{
        opacity: 1;
    }

    #num:hover {
        opacity: 1;
    }
    
}
